.button {
  font: inherit;
  border: 1px solid #b4afb8;
  /* background: white;
  color:black; */
  padding: 0.25rem 1rem;
  cursor: pointer;
  border-radius: 3px;

  background: #0a6c7e;
  border-color: white;
  color: white;
}

.button:hover,
.button:active {
  /* background: #0a6c7e;
  border-color: white;
  color: white; */

  background: white;
  color:#0a6c7e;
  border-color: black;
}

.button:focus {
  outline: none;
}

.button:disabled{
  background: rgb(214, 224, 231);
  color:grey;
  border: 1px solid #efedf0;
}